{% extends 'base.html' %}
	{% block title %}
		Start New
	{% endblock title %}
{% block content %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item" ><a href="{% url 'boards:home' %}">Boards</a></li>
	    <li class="breadcrumb-item" ><a href="{% url 'boards:topic' board.pk %}">{{board.name}}</a></li>
	    <li class="breadcrumb-item active" >New</li>
	  </ol>
	</nav>

	<form method="post" novalidate>
	    {% csrf_token %}
	    	{% include 'includes/form.html' %}
	    <button type="submit" class="btn btn-success">Post</button>
  	</form>
{% endblock content %}