{% extends 'base.html' %}
{% block title %}{{block.super}}-Sign up{% endblock title%}
	{% block content %}
		<h1>Login</h1>
		<form action="" method="post" novalidate>
			{% csrf_token %}
			{% include 'includes/form.html' %}
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
		 <div class="card-footer text-muted text-center">
            New to Django Boards? <a href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
	{% endblock content %}